<div class="row">
	<div class= "span6 offset3">
		<div class="well">
		<p>
	  		<!-- <b>Challenge Description:</b> we should include this in our app -->
	  		<%= @pin.description %>
		</p>
		<%= link_to 'Edit', edit_pin_path(@pin) %> |
		<%= link_to 'Back', pins_path %>
	</div>
	</div>
</div>


