<div class="partial_textfield"> 
	<p class="help-block"> <%= f.label label %> </p>
	
	<div class="input-prepend">
		<span class="add-on">*</span>
		<%= f.text_field field, class: "prependedInput" %>
	</div>

</div>