<div class="container">
  <h1 class="page-header">About Us <small>It's Nice to Meet You!</small></h1>
    <p>Welcome to Ideabind......</p>
  <h2 class="page-header">Our Team</h2>

  <ul class= "thumbnails">
    <li class="span5">  
          <div class="row">
            <img class="img-circle img-responsive" src="http://placehold.it/200x200">
              <h3>Wilson Guaraca <small>Job Title</small></h3>
              <p>Wkfknn</p>
    </li> 
    <li class="span5">  
          <div class="row">
            <img class="img-circle img-responsive" src="http://placehold.it/200x200">
              <h3>Edderic Ugaddan <small>Job Title</small></h3>
              <p>Wkfknn</p>
    </li> 
    <li class="span5">  
          <div class="row">
            <img class="img-circle img-responsive" src="http://placehold.it/200x200">
              <h3>Allen Mack <small>Job Title</small></h3>
              <p>WWkfknn</p>
    </li> 
    <li class="span5">  
          <div class="row">
            <img class="img-circle img-responsive" src="http://placehold.it/200x200">
              <h3>Sam Peprah <small>Job Title</small></h3>
              <p>Wkfknn</p>
    </li> 
  </ul>
</div>

