- if user_signed_in?
  .container-fluid
    / Line at the top of page, you can get rid off it if you want
    .row
      %h1.page-header
    / 1st column
    .span3
      / profile info
      #midCol{"data-offset-top" => "250", "data-spy" => "affix"}
        %h4.caption
          = gravatar_for current_user
          = current_user.name
        %hr
        / Admin Panel for user
      .well
        %ul.nav.nav-list
          %li
            %a{href: "#"}
              %i.icon-envelope
              Messages
              %span.badge.badge-info 4
          %li
            %a{href: "#"}
              %i.icon-comment
              Comments
              %span.badge.badge-info 10
          %li
            %a{href: "#"}
              %i.icon-user
              Contributor Request
          / Bind a new Idea modal
          %li.divider
          %a.btn{"data-toggle" => "modal", href: "#betaModal"} Bind It
          #betaModal.modal.hide.fade
            .modal-header
              %button.close{"data-dismiss" => "modal"} ×
              %h3 Idea Description
            / idea creation form
            .modal-body
              - @idea = Idea.new
              .form-partial
                = render partial: 'shared/ideaform', locals: { obj: @idea }
          / Bind a new model end
      / widget for tags used to create projects
      / We can create more widgets if we need go to show more information or route users to certain pages
      .well
        %h4 Popular Tags
        %a{href: "#"}
          %span.label.label-info Test
        %a{href: "#"}
          %span.label.label-info Test
        %a{href: "#"}
          %span.label.label-info Test
        %a{href: "#"}
          %span.label.label-info Test
        %a{href: "#"}
          %span.label.label-info Test
        %a{href: "#"}
          %span.label.label-info Test
        %a{href: "#"}
          %span.label.label-info Test
        %a{href: "#"}
          %span.label.label-info Test
        %a{href: "#"}
          %span.label.label-info Test
        %a{href: "#"}
          %span.label.label-info Test
        %a{href: "#"}
          %span.label.label-info Test
        %a{href: "#"}
          %span.label.label-info Test
        %p
          / search projects on Ideabind
          %form.form-inline{action: "/", method: "get"}
            %input.span2{name: "q", placeholder: "Search Ideas", type: "text"}
              %button.btn.btn-primary{type: "submit"}
                %i.icon-search.icon-white
    / /2nd column
    .container
      .span4
        .col-lg-6.col-md-6.portfolio-item
          %a{href: "#project-one"}
            %img.img-responsive{src: "http://placehold.it/700x400"}/
            %p
              %i.icon-user
              %a{href: "#"} Wilson
              |
              %i.icon-comment
              %a{href: "#"} 3 Comments
              |
              %i.icon-share
              %a{href: "#"} 39 Shares
            %h3
              %a{href: "#project-one"} Idea One
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
          .col-lg-6.col-md-6.portfolio-item
            %a{href: "#project-two"}
              %img.img-responsive{src: "http://placehold.it/700x400"}/
              %p
                %i.icon-user
                %a{href: "#"} Wilson
                |
                %i.icon-comment
                %a{href: "#"} 3 Comments
                |
                %i.icon-share
                %a{href: "#"} 39 Shares
              %h3
                %a{href: "#project-two"} Idea Two
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
            / /scroll to old projects you're currently working on
            %ul.pager
              %li.previous
                %a{href: "#"} Older
      / /3rd column
      .span4
        .col-lg-6.col-md-6.portfolio-item
          %a{href: "#project-one"}
            %img.img-responsive{src: "http://placehold.it/700x400"}/
            %p
              %i.icon-user
              %a{href: "#"} Wilson
              |
              %i.icon-comment
              %a{href: "#"} 3 Comments
              |
              %i.icon-share
              %a{href: "#"} 39 Shares
            %h3
              %a{href: "#project-one"} Ideas Three
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
          .col-lg-6.col-md-6.portfolio-item
          %a{href: "#project-two"}
            %img.img-responsive{src: "http://placehold.it/700x400"}/
            %p
              %i.icon-user
              %a{href: "#"} Wilson
              |
              %i.icon-comment
              %a{href: "#"} 3 Comments
              |
              %i.icon-share
              %a{href: "#"} 39 Shares
            %h3
              %a{href: "#project-two"} Idea Four
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
          / /scroll to old projects you're currently working on
          %ul.pager
            %li.next
              %a{href: "#"} Newer
- else
  .span12.pagination-centered
    .hero-unit
      %h1 Welcome to ideabind
      %p Liberate Your Natural Genius
      %p
        = link_to 'Sign up Now', new_user_registration_path, class: 'btn btn-primary btn-large'