<div class="hero-unit">

	<h1>Welcome to CreateNovation</h1>
	<p>
		Build your Portfolio, one challenge at a time: 
		<%= link_to"Browse Challenges", "#" %>

	</p>

	<p>
		<%= link_to"Sign up Now", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>