// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-img {
	height: 90px;
	width: 90px;
	border-radius: 20%;
	margin: 10px 0 0 0; 
	border: 0 0 0 0;
};