/*This is the way you could change the font */
/*$baseFontFamily: Oxygen; 
@import url(http://fonts.googleapis.com/css?family=Oxygen); */

$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

/* The following gets rid of the shadow of the line on the nav bar*/
.navbar-inner {
	@include box-shadow (none !important);
	border: 0; 
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
	}

/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
	}

.carousel-control.right {
	right: -12px;
	}

/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}

/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
	}

.carousel-indicators .active {
	background: #333333;
	}

.footer {

	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}

}

/* microposts */

.pins {
	list-style: none;
	margin: 10px 0 0 0;

	li {
		padding: 10px 0;
		border-top: 1px solid #e0e0e0;
	}	
}

.content {
	display: block;
}

.timestamp {
	color: $grayLight;
}

/* CSS for Idea page */
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}

input.create_btn {
  margin-top: 8px;
}


.error_message {
  color: red;
}

/* Create an idea form */

#ideaform {
  position:relative;
  top:30px;
  /*padding-top: 1em;*/
}

.span12.form {
  padding-top: 1em;
}

/*.span6.form {
  display: inline-block;
}*/

.help-block {
  display: block;
  position: relative;
  /*top: 1em;*/
  /*top:2em;*/
}

.input-prepend-wrap {
  display:block;
  position: absolute;
  top:2em;
}

.first-collab {
  position:relative;

}

#inputIcon {
  position:absolute;
  left:24px;
}

.input-prepend {
  /*width:215px;*/
  /*display: block;*/
  margin-bottom: 1em;
  position: relative;
  top: -12px;
}

.partial_textfield {
  /*position: relative;*/
  /*display: block;*/
  margin-bottom: 20px;
}

input.span25#inputIcon {
  width:95%;
  position: absolute;
}

span.add-on#icon-envelope {
  position: absolute;
  left: 4px;
  /*padding: 20px;*/
  /*border: 2px solid #cacaca;*/
  /*z-index: 10;*/
}
/*#icon-envelope {*/
  /*border: 1px solid #cacaca;*/
  /*border-top-left-radius: 2%;*/
  /*border-bottom-left-radius: 2%;*/
  /*border-radius: 5%;*/
  /*border-bottom: 10px;*/
  /*padding-top: 2px;*/
  /*padding-left: 8px;*/
  /*padding-right:3px;*/
  /*padding-bottom: 14px;*/
  /*padding: 3px;*/
  /*padding-left: 8px;*/
  /*padding-top: 8px;*/
  /*position: absolute;*/
  /*top:5px;*/
  /*left:4px;*/
  /*bottom:3px;*/
/*}*/

span.add-on {
  position: absolute; 
  left: 0px;
  top: 0px;
}

input.prependedInput {
  width: 160px;
  position: absolute; 
  left: 24px;
  top: 0px;
  
}

.help-block#create{
  display: block;
  text-align: center;
  margin-top: 70px;
  /*position: relative;*/
  /*top: 100px;*/
}


p.help-block#first-collab {
  /*margin-top:10px;*/
  /*margin-top: 20px;*/
  /*margin-bottom: 10px;*/
}

textarea#idea_description {
  /*width: 210px;*/
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

/* Comments on an update */

.comment {
  width: 30em;
  margin-top: 2em;
  padding-top: 0.5em;
  border: solid #cacaca 1px;
  border-radius: 2%;
  position:relative;
}

.comment_name {
  display: inline-block;
  margin-left: 0.5em;
}

.comment_reply_btn {
  display: inline-block;
}

.comment_created_at {
  display: inline-block;
  color: #cacaca;
}

.comment_content {
  word-wrap: break-word;
  margin: 1em 2em 2em 2em;
}

.comment_rating {
  color: #cacaca;
  display: inline-block;
  position: absolute; right: .5em;
  margin-left:0.5em;
}

.comment-expand {
  font-size:16px;
}

/*.leave_a_comment {
  width: 40em;
}*/

textarea#comment_content {
  width: 30em;
  height: 10em;
}

input#comment_create {
  display: block;
}


