/*This is the way you could change the font */
/*$baseFontFamily: Oxygen; 
@import url(http://fonts.googleapis.com/css?family=Oxygen); */

$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

/* The following gets rid of the shadow of the line on the nav bar*/
.navbar-inner {
	@include box-shadow (none !important);
	border: 0; 
}

.footer {

	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}

}

/* microposts */

.pins {
	list-style: none;
	margin: 10px 0 0 0;

	li {
		padding: 10px 0;
		border-top: 1px solid #e0e0e0;
	}

	.content {
		display: block;
	}
}